* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 12;
    font-weight: bold;
}

#waybar {
    all:unset;
}

.modules-left {
    margin: -5 0 0 5;
}

.modules-center {
}

.modules-right {
    margin: -5 5 0 0;
}

#workspaces button {
    padding: 0 1;
    color: #B0B0B0;
}

#workspaces button:hover {
    background: none;
}

#workspaces button.active {
    color: #ffffff;
}

#clock {
    padding: 0 6;
}

#network {
    padding: 0 10 0 6;
}

#pulseaudio {
    padding: 0 9 0 0;
}

#tray {
    padding: 0 10 0 0;
}
