* {
    font-family: Noto Sans;
    font-size: 12;
    font-weight: bold;
    padding: 1 0 1 0;
}

#waybar {
    background: rgba (18, 18, 18, 0.80);
}

.modules-left {
    margin: 0 0 0 5;
    color: #f5f5f5;
}

.modules-center {
    margin: 0 0 0 0;
    color: #f5f5f5;
}

.modules-right {
    margin: 0 7 0 0;
    color: #f5f5f5;
}

#workspaces button {
    color: #B0B0B0;
}

#workspaces button:hover {
    background: none;
}

#workspaces button.active {
    color: #ffffff;
}

#network {
    padding: 0 11 0 6;
}

#pulseaudio {
    padding: 0 11 0 0;
}

#tray {
    padding: 0 10 0 0;
}

#custom-power {
    padding: 0 10 0 4px;
}
