/* MODULES */

@import "modules/css/global.css";
@import "modules/css/waybar.css";
@import "modules/css/modules.css";
@import "modules/css/workspaces.css";
@import "modules/css/network.css";
@import "modules/css/pulseaudio.css";
@import "modules/css/tray.css";
@import "modules/css/lock.css";
@import "modules/css/reboot.css";
@import "modules/css/power.css";
