window {
    background-color: rgba (0, 0, 0, 0.0)
}

#inner-box {
	background-color: rgba (18, 18, 18, 1);
	border-radius: 5px;
	padding: 5px;
	margin: 5px
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	margin: 5px
}

button:hover {
	background-color: rgba (255, 255, 255, 0.1)
}
