window {
    background-color: rgba (128, 128, 128, 0.333);
    border-radius: 4px
}

#inner-box {
	background-color: rgba (18, 18, 18, 1);
	border-radius: 5px;
	padding: 1px;
	margin: 1px
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	margin: 5px
}

button:focus {
    background-color: rgba (63, 63, 63, 0.333);
    color: #ffffff;
}
