// ENTRY

entry {
    placeholder: "";
    text-color: @fg-color;
    placeholder-color: @fgp-color;
    background-color: #3F3F3F55;
    padding: 8px;
    border-radius: 5px;
    border: 2px;
    border-color: @fg-color2;
}
