// MESSAGE

message {
    background-color: transparent;
    text-color: #FFFFFFFF;
    border: 0px solid;
}

error-message {
    background-color: transparent;
    text-color: #FFFFFFFF;
    border: 0px solid;
}

textbox {
    background-color: transparent;
    text-color: #FFFFFFFF;
    border: 0px solid;
}
