// WINDOW

window {
    transparency: "real";
    width: 620px;
    border-radius: @b-radius;
    background-color: @wbg-color;
    border: @w-border;
    border-color: @w-border-color;
    padding: @w-padding;
    location: north;
    y-offset: 50;
}
