/* MODULES */

.modules-left {
    margin: 0px 0px 0px 5px;
    color: #f5f5f5;
}

.modules-center {
    margin: 0px 0px 0px 0px;
    color: #f5f5f5;
}

.modules-right {
    margin: 0px 7px 0px 0px;
    color: #f5f5f5;
}
